#accountsList {
    border: 2px black solid;
}

#accountsList li:hover {
    background: lightgray;
}

.accountsList-item {
    color: black;
}

.accountsList-item:hover {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    div {
        padding: 2%;
    }
}